.form {
  max-width: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field label,
.field input,
.field textarea {
  display: block;
  width: 100%;
}

.field input,
.field textarea {
  background: url("../assets/texture.svg"), #fff;
  color: #000;
  font-family: Paytone;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: 3.5px solid transparent;
  padding: 0.7rem 0.3rem;
  margin-top: 0.2rem;
  resize: none;

  transition: all 0.2s ease;
}
.field input::placeholder,
.field textarea::placeholder {
  font-family: sans-serif;
}
.field input:focus,
.field textarea:focus {
  outline-color: rgb(254, 117, 67);
  border-color: orangered;
}

.field.file-field input {
  display: none;
}

.form button[type="submit"] {
  background-color: orangered;
  color: #fff;
  padding: 1rem;
  font-family: Paytone;
  font-size: 1rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease;
}

.form button[type="submit"]:hover {
  background-color: orange;
  transform: scale(1.02);
}

.form button[type="submit"]:active {
  transform: scale(0.9);
}
