.search-bar {
  max-width: 40rem;
  margin: 2rem auto;
  display: flex;
}

.search-bar input {
  background: url("../assets/texture.svg"), #fff;
  width: 100%;
  height: 100%;
  padding: 0.7rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid #565656;
  outline: 0.2rem solid transparent;
  transition: all 0.3s ease;
  color: #000;
}
.search-bar input::placeholder {
  color: #565656;
  font-size: 0.9rem;
}
.search-bar input:focus {
  outline: 0.2rem solid orangered;
}
