.card {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(6px 6px 0 #444444);
}

.card h2 {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.card figure img {
  width: 3rem;
  height: 3rem;
}
