.item {
  background: #f4f4f4;
  color: #000;
  margin: 2rem 0;
  list-style: none;
  border-radius: 0.5rem;
}

.item .image {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.actions {
  padding: 2rem 0;
  text-align: center;
}

.actions button {
  padding: 0.5rem 1.5rem;
  border: 1px solid purple;
  border-radius: 0.2rem;
  color: purple;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.1s ease;
  margin: 0 0.5rem;
}

.actions button:hover {
  background-color: rgba(128, 0, 128, 0.132);
}
