.home header {
  text-align: center;
  margin: 0 auto;
}

.home header h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.home header p {
  font-size: 1.5rem;
  color: #4c4c4c;
}

.cards-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 1030px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .home header {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .home header h1 {
    font-size: 2.5rem;
  }

  .home header p {
    font-size: 1.5rem;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}
