.header {
  background: #77002e;
  padding: 1.2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

.list {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.list li {
  position: relative;
}

.list li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.list li:hover a {
  color: yellow;
}

.list li .badge {
  position: absolute;
  top: -1.2rem;
  right: -1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: yellow;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li .active {
  color: yellow !important;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  background: yellow;
  border-radius: 50%;
}
